.divJeu
{
	width: 30%;
	margin: 1%;
	border: 4px double #A9A9A9;
	cursor: pointer;
	transition: background-color 0.4s, color 0.4s, border-color 0.4s;
}

.divJeu:hover
{
	background-color: #34C924;
	color: #696969;
	border-color: black;
}

.imageJeu
{
	max-width: 95%;
	margin: 5px;
}

.divPlateformes
{
	display: flex;
	justify-content: center;
}

.imagePlateforme
{
	max-width: 17%;
	margin: 5px;
}

.divGeneral
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.divNom
{
	margin: 5px;
}

.pAutre
{
	font-size: 66%;
}