html
{
	background-color: #696969;
	color: #34C924;
}

body
{
	width: 900px;
	margin: auto;
}

header
{
	margin-top: 10px;
	display: flex;
	align-items: center;
	border: 6px double #A9A9A9;
	border-radius: 6px;
	padding: 5px;
	background-color: black;
}

nav
{
	display: flex;
	justify-content: space-between;
	border-radius: 6px;
	padding: 6px;
	margin-top: 5px;
	margin-bottom: 5px;
}

section
{
	min-height: 49vh;
    border: 6px double #A9A9A9;
    border-radius: 6px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
}

footer
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 15vh;
	border: 6px double #A9A9A9;
	border-radius: 6px;
	margin-top: 5px;
	padding: 5px;
	background-color: black;
}

.divRecherche
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.input
{
	border: 4px #A9A9A9 double;
	border-radius: 6px;
    background: black;
    color: #34C924;
    margin-right: 5px;
}

.bouton
{
	border: 4px #A9A9A9 double;
	border-radius: 6px;
    background: black;
    color: #34C924;
    font-size: 0.85em;
    padding: 1px 6px;
    cursor: pointer;
	transition: background-color 0.4s, color 0.4s, border-color 0.4s;
}

.bouton:hover
{
	border-color: black;
	color: black;
	background-color: #34C924;
}

.boutonRetour
{
	display: none;
}

.header_texte
{
	margin-left: 25px;
}

.icone
{
	object-fit: contain;
	margin: inherit;
}

.auteur
{
	display: flex;
	flex-direction: column;
}

.loader 
{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 18%
}

.loader::before, .loader::after 
{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 100%;
	animation: rotationLoader 1.5s linear infinite;
	--translate: translate(-50%, -50%);
	transform: var(--translate);
}

.loader::before 
{
	height: 10rem;
	width: 10rem;
	background: linear-gradient(0.25turn, #c0c0c0, #4e5858, #c0c0c0);
	border: 2px solid #7d7070;
}

.loader::after 
{
	height: 2rem;
	width: 2rem;
	background-color: white;
	border: 4px solid #cac3c3;
}

@keyframes rotationLoader 
{
	0% 
	{
		transform: var(--translate) rotate(0deg);
	}
	100% 
	{
		transform: var(--translate) rotate(360deg);
	}
}