.divGeneralDetail
{
	width: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.divDetailNom
{
	text-align: center;
}

.imgJeuDetail
{
	max-width: 130px;
	max-height: 130px;
}

.divPlateformesDetail
{
	width: 100%;
	display: flex;
    justify-content: space-evenly;
}

.imagePlateformeDetail
{
	margin: 5px;
    width: 5%;
}

.divPlusDetail
{
	display: flex;
    justify-content: center;
    align-items: center;
}

.divSortie
{
	min-width: 15%;
	text-align: center;
}

.divDescriptionLongue
{
	display: block;
}