
.popup 
{
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.popupContent 
{
  border: 6px double #A9A9A9;
  background-color: black;
  color: #34C924;
  margin: 15% auto; 
  padding: 20px;
  border-radius: 6px;
  width: 80%; 
}

.elementPopup
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.titrePopup
{
  font-weight: bold;
}

.boutonPopup
{
  margin: 10px;
}